.permissionPanel {
  margin-top: 5px;
  padding-top: 15px;
}
.permissionPanelGroup {
  padding: 20px !important;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(185, 185, 211, 0.349);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.permissionModal {
  padding-left: 10px;
}
.panelGroup {
  background-color: rgba(145, 145, 168, 0.349);
}
.pPanel1 {
  display: inline-block;
  color: black !important;
  opacity: 0.7;
  margin-left: 7px;
  margin-right: 10px;
}
.PselctPicker {
  width: 86%;
  margin-left: 30px;
}
.icon_icon {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.icon_label {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: bold;
  cursor: pointer;
}
