.mainBody {
  background-color: rgba(145, 145, 168, 0.349);
  border-radius: 5px 5px 5px 5px;
}

.mainContent {
  margin: 10px !important;
  padding: 20px !important;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(165, 165, 212, 0.349);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
