.icon_modal {
  margin-right: 10px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2) !important;
}

.tittle_modal {
  font-weight: bold !important;
  letter-spacing: 0.5px !important;
  font-size: 18px !important;
}

.infoLine {
  font-size: 11px !important;
  letter-spacing: 0.6px;
  color: grey;
}
